<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>EventHub API</title>
  </head>
  <body>
    <h1>Welcome to the EventHub API</h1>
    <p>
      <a href="https://documenter.getpostman.com/view/31947596/2sA3XY6xzK">API documentation</a></br>
      <a
        href="https://www.figma.com/proto/4DHuCtTangEeZLSFu5YVXv/Untitled?type=design&node-id=119-283&t=3YpHYfu6nyWHgOG0-1&scaling=scale-down&page-id=0%3A1&starting-point-node-id=119%3A283"
        >Figma prototype</a
      >
    </p>
  </body>
</html>
